{% load widget_tweaks %}
<div id="search-entries">
    <form class="needs-validation" novalidate ic-post-to="{% url 'search-entries' %}" ic-target="#search-entries" ic-indicator="#indicator" ic-replace-target="true" method="post">
        <div class="form-row">
            {% include 'lang/fragments/form.html' with form=search_form %}
            {% include 'lang/fragments/form_field.html' with field=search_form.text field_class="col" %}
        </div>
        <input type="submit" value="Search">
        <div id="indicator" class="spinner-border spinner-border-sm" role="status" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
    </form>
    {% if entries %}
        {% include 'dictionary/fragments/entry_list.html' with entries=entries %}
    {% endif %}
</div>
