{% load widget_tweaks %}
{% load entry_list %}
<div id="search-entries" ic-on-beforeTrigger="onBeforePost(evt, elt)">
    <form class="needs-validation" novalidate method="get"
        ic-get-from="{% url 'search-entries' %}"  
        ic-indicator="#indicator" 
    >
        {% include 'lang/fragments/form_hidden_fields.html' with form=search_form %}
        {% include 'lang/fragments/form_errors.html' with form=search_form %}
        <div class="form-row">
            {% include 'lang/fragments/form_field.html' with field=search_form.q field_class="col" %}
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <div id="indicator" class="spinner-border spinner-border-sm" role="status" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
    {% if entries %}
    <hr>
    {% entry_list entries %}
    {% endif %}
</div>
<script>
function onBeforePost(evt, elt) {
    var q = elt[0].elements['q'].value;
    var url = elt[0].attributes['ic-get-from'].value;
    history.pushState({}, "", url + "?q=" + q);
    $('#entry-list').empty();
}
window.onpopstate = function(event) {
  document.location = document.location;
};
</script>