<div id="translate-entry-list-form">
    <form class="needs-validation" novalidate method="post"
          ic-post-to="{% url 'add-entries' %}"
          ic-indicator="#indicator"
    >
        {% csrf_token %}
        {% for entry in entries %}
        <div>
            <div>
                <input type="checkbox" name="entry.{{ forloop.counter0 }}.add" value="1" checked>
                <span>{{ entry.text }}</span>
                <input type="hidden" name="entry.{{ forloop.counter0 }}.text" value="{{ entry.text }}">
                <input type="hidden" name="entry.{{ forloop.counter0 }}.language" value="{{ entry.language }}">
                <input type="hidden" name="entry.{{ forloop.counter0 }}.type" value="{{ entry.type|default_if_none:'' }}">
            </div>
            <ul>
            {% for translation in entry.translations %}
                <li>
                    {% for translation_entry in translation.entries %}
                        <input type="checkbox" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.add" value="1" checked>
                        <span>{{ translation_entry.text }}</span>
                        <input type="hidden" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.text" value="{{ translation_entry.text }}">
                        <input type="hidden" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.language" value="{{ translation.language }}">
                        <input type="hidden" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.type" value="{{ translation.type|default_if_none:'' }}">
                    {% endfor %}
                    <ul>
                    {% for example in translation.examples %}
                        <li>
                            <span>{{ example.text }} - {{ example.translation }}</span>
                            <input type="hidden" name="example.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.text" value="{{ example.text }}">
                            <input type="hidden" name="example.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.translation" value="{{ example.translation }}">
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary col-sm-3" value="Add entries">
    </form>
    <div id="indicator" class="spinner-border spinner-border-sm" role="status" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
</div>
