<div id="translate-entry-list-form">
    <form class="needs-validation" novalidate method="post"
          ic-post-to="{% url 'add-entries' %}"
          ic-indicator="#indicator"
    >
        {% csrf_token %}
        <input type="hidden" name="payload" value="{{ payload }}">
        {% for entry in entries %}
        <div>
            <div>
                {% for headword in entry.headwords %}
                    <input type="checkbox" name="headword.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.add" value="1" checked>
                    <span>{{ headword.text }}</span>
                    <input type="hidden" name="headword.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.text" value="{{ headword.text }}">
                {% endfor %}
            </div>
            <ul>
            {% for translation in entry.translations %}
                <li>
                    {% for translation_entry in translation.entries %}
                        <input type="checkbox" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.add" value="1" checked>
                        <span>{{ translation_entry.text }}</span>
                        <input type="hidden" name="translation.{{ forloop.parentloop.parentloop.counter0 }}.{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}.text" value="{{ translation_entry.text }}">
                    {% endfor %}
                    <ul>
                    {% for example in translation.examples %}
                        <li>
                            <span>{{ example.text }} - {{ example.translation }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Add entries">
    </form>
    <div id="indicator" class="spinner-border spinner-border-sm" role="status" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
</div>
