<div>
{% if entry %}
    <div>
        <a href="{% url 'entry-view' entry.id %}">{{ entry.text }}</a>
        <a href="{% url 'edit-entry' entry.id %}"><i class="fas fa-edit"></i></a>
        {% for recording in entry.recordings %}
            <a href="{{ recording.url }}" target="_blank"><i class="fas fa-volume-up"></i></a>
        {% endfor %}
        {% for synonym in entry.synonyms %}
            <a href="{% url 'entry-view' synonym.id %}">{{ synonym.text }}</a>
        {% endfor %}
        {% comment %} <a href="{% url 'entry-view' entry.id %}" ic-delete-from="{% url 'entry-view' entry.id %}"><i class="far fa-trash-alt"></i></a> {% endcomment %}
    </div>
    <ul>
    {% for translation in entry.translations %}
        <li>
            <a href="{% url 'entry-view' translation.entry.id %}">{{ translation.entry.text }}</a>
            <ul>
            {% for example in translation.examples %}
                <li>
                    <span><a href="{% url 'entry-view' example.object.id %}">{{ example.object.text }}</a> - <a href="{% url 'entry-view' example.subject.id %}">{{ example.subject.text }}</a></span>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <ul>
    {% for example in entry.examples %}
        <li><a href="{% url 'entry-view' example.id %}">{{ example.text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</div>