<div>
{% if entry %}
    <div>
        <a href="{% url 'entry-view' entry.id %}">{{ entry.text }}</a>
        <a href="{% url 'edit-entry' entry.id %}"><i class="fas fa-edit"></i></a>
        {% for recording in entry.recordings %}
            <a href="{{ recording.audio_url }}" target="_blank"><i class="fas fa-volume-up"></i></a>
        {% endfor %}
        {% if entry.source_url %}
            <a href="{{ entry.source_url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        {% endif %}
        {% for synonym in entry.synonyms %}
            <a href="{% url 'entry-view' synonym.id %}">{{ synonym.text }}</a>
        {% endfor %}
        {% comment %} <a href="{% url 'entry-view' entry.id %}" ic-delete-from="{% url 'entry-view' entry.id %}"><i class="far fa-trash-alt"></i></a> {% endcomment %}
    </div>
    <div>
        <span>{{ entry.type_name }}</span>
    </div>
    <ul>
    {% for translation in entry.translations %}
        <li>
            <a href="{% url 'entry-view' translation.entry.id %}">{{ translation.entry.text }}</a>
            {% if translation.entry.source_url %}
                <a href="{{ translation.entry.source_url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            {% endif %}
            <ul>
            {% for example in translation.examples %}
                <li>
                    <span>
                        <a href="{% url 'entry-view' example.object.id %}">{{ example.object.text }}</a>
                        {% for recording in example.object.recordings %}
                            <a href="{{ recording.audio_url }}" target="_blank"><i class="fas fa-volume-up"></i></a>
                        {% endfor %}
                        -
                        <a href="{% url 'entry-view' example.subject.id %}">{{ example.subject.text }}</a>
                        {% for recording in example.subject.recordings %}
                            <a href="{{ recording.audio_url }}" target="_blank"><i class="fas fa-volume-up"></i></a>
                        {% endfor %}
                    </span>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <ul>
    {% for example in entry.examples %}
        <li><a href="{% url 'entry-view' example.id %}">{{ example.text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</div>
