[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.1.2"
pytest-django = "==3.5.1"

[packages]
django = "==2.2.4"
psycopg2-binary = "==2.7.7"
djangorestframework = "==3.10.2"
attrs = "==19.1.0"
django-cors-headers = "*"
requests = "==2.22.0"
beautifulsoup4 = "==4.7.1"
django-widget-tweaks = "==1.4.3"

[requires]
python_version = "3.7"
